
.contact_home{
    margin-top: 10%;
  }
  
  .CT_banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 80vh;
    background: url('../../../../../public/assets/contactimg/CT_banner.jpg');
    background-position: 50% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .CT_LN1{
    width: 35%;
    height: 1.5px;
    background-color: #dd127b;
    padding: 0 15px;
  }
  .CT_content{
    text-align: center;
  }
  .CT_content h1{
    font-family: 'Antro_Vectra_Bolder';
    font-weight: 700;
    font-size: 80px;
    line-height: 56px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
  .CT_content p{
    font-family: 'Aileron-Regular';
    font-size: 20px;
    margin-top: -15px;
  }
   
  
  
  @media(max-width:768px){ 
    .contact_home{
        margin-top: 20%;
      }
    
  }

  @media (max-width:600px){
    .contact_home{
        margin-top: 35%;
      }
      .CT_content h1{
        font-size: 50px;
      }
  }