.flipper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    height: 90% !important;
   
  }
  
  .flipper {
    width: 90%; 
    max-width: 100vw; 
    height: auto;
    perspective: 1000px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .flipper img {
    width: 90%; 
    height: auto; 
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .flipper.zoomed {
    transform: scale(1.6); 
    transition: transform 0.3s ease-in-out;
  }







  .controlsRest {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
  }
  
  .controlsRest.left {
    left: 0px; /* Position the "Previous" button on the left */
  }
  
  .controlsRest.right {
    right: 0px; /* Position the "Next" button on the right */
  }
  
  .controlsRest button {
    margin: 5px 10px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    background-color: black;
    border: 2px solid #dd127b;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .controlsRest button:hover {
    background-color: #dd127b;
    color: black;
  }
  
  .controlsRest button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  








  @media (max-width: 768px) {
    .controlsRest.left {
        left: -10px; /* Position the "Previous" button on the left */
      }
    .flipper-containerCafeteria{
        height: 90% !important;
    }       
   
    .controlsRest {
        
        padding: 0px;
    }
    .controlsRest button {
      font-size: 12px;
      padding: 5px 8px;
    }


    .flipper img {
        width: 100%; /* Adjust for smaller screens */
        height: auto; /* Maintain aspect ratio */
      }
    
      .flipper.zoomed {
        transform: scale(1.3); /* Adjust zoom for smaller devices */
      }
    
      .controls button {
        font-size: 12px; /* Reduce font size for smaller screens */
        padding: 5px 10px; /* Adjust padding */
      }
  
      .controlsRest.right {
          right: -15px;
      }
      .controlsRest.left {
          left: -15px;
      }
  }
  @media (max-width: 608px) {
    .controlsRest.left {
        left: -15px; /* Position the "Previous" button on the left */
      }
    .controlsRest button {
        padding: 2px 3px;
        
    }
    .controlsRest.right {
        right: -15px;
    }
  }
 
  @media (max-width: 480px) {
    .controlsRest button {
      font-size: 10px; 
      margin: 4px 8px;
      padding: 4px 3px;

    }
  }
  




  /*   
  .controls {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  }
  
  .controls button {
    margin: 5px 10px;
    padding: 10px 15px; 
    width: 85px;
    font-size: 14px; 
    cursor: pointer;
    color: #ffffff; 
    background-color: black;
    border: 2px solid #dd127b; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .controls button:hover {
    background-color: #dd127b; 
    color: black;
  }
  
  .controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  } */