
.hm-banner-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 10%;
}


.hm-banner1, .hm-banner2, .hm-banner3, .hm-banner4 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out, transform 4s ease-in-out;
  transform: scale(1);
}

.hm-banner1.active, .hm-banner2.active, .hm-banner3.active, .hm-banner4.active {
  opacity: 1;
  transform: scale(1.1); 
}


.homeBanner {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* .hm-banner-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: 10%;
  position: relative;
}

.hm-banner {
  width: 100%;
  height: 100%;
}
 .homeBanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
} */


.content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.content h1{
  font-family: 'Antro_Vectra_Bolder';
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Adjust the values as needed */
}
.content p{
  font-family: 'Aileron-Regular';
  font-size: 20px;
  margin-top: -15px;
}
  
  /*Booking*/
  
  .booking{
    padding: 60px 40px;
    text-align: center;
    display: grid;
    place-items: center;
  }
  .booking h3{
    font-family: 'TrajanPro-Regular';
    color: #dd127b;
  }
  .booking .B_content{
    max-width: 950px;
    font-family: 'Aileron-Thin';
  }
  .book-btn{
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Aileron-Bold';
    background-color: #fff;
  }

  @media(max-width:768px){
    .home{
        margin-top: 25%;
      }
  }
  @media(max-width:500px){
    .home{
      margin-top: 40%;
    }
    .banner {
      /* margin: 0 30px !important; */
      position: relative;
      top: 0;
      width: 100%;
      height: 100vh;
   
      background-position: 50% 10%;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background: linear-gradient(to top #000,#000);
    }
  
    .content h1{
      font-family: 'Antro_Vectra_Bolder';
      font-size: 50px;
      line-height: 41px;
    }  
  }