@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Aileron-Thin';
  src: url('../public/Fonts/Aileron-Thin.otf') format('opentype');
} 
@font-face {
  font-family: 'TrajanPro-Regular';
  src: url('../public/Fonts/TrajanPro-Regular.otf') format('opentype');
} 
@font-face {
  font-family: 'TrajanPro-Bold';
  src: url('../public/Fonts/TrajanPro-Bold.otf') format('opentype');
} 
@font-face {
  font-family: 'Antro_Vectra_Bolder';
  src: url('../public/Fonts/Antro_Vectra_Bolder.otf') format('opentype');
} 
@font-face {
  font-family: 'Aileron-Light';
  src: url('../public/Fonts/Aileron-Light.otf') format('opentype');
} 
@font-face {
  font-family: 'Aileron-Bold';
  src: url('../public/Fonts/Aileron-Bold.otf') format('opentype');
} 
@font-face {
  font-family: 'Aileron-Regular';
  src: url('../public/Fonts/Aileron-Regular.otf') format('opentype');
} 

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
p{
  color: #fff;
}

body {
    
    background-color: #000000 !important;
    /* overflow-x: hidden; */
    /* display: grid;
    place-items: center; */
    /* padding-left: 30px; */
    padding: 20px ;  
}